<template bindable="positions, englishLevels, headquarters, locations, headquarterChanged, advancedSearch">
    <div class = "col s6 offset-s3">
      <p>
          <md-radio md-name="myOption" md-value="skills" md-checked.bind="advancedSearch.choice">skill</md-radio>
          <md-radio md-name="myOption" md-value="name" md-checked.bind="advancedSearch.choice">name</md-radio>
      </p>
    </div>

    <div class = "col s6 offset-s3">
        <select md-select value.two-way="advancedSearch.englishLevel">
          <option value="" selected>All english level</option>
          <option repeat.for="englishLevel of englishLevels" value.bind="englishLevel">
            ${englishLevel}
          </option>
        </select>
    </div>
    <div class = "col s6 offset-s3">
        <select md-select value.two-way="advancedSearch.position">
          <option value="" selected>All position</option>
          <option repeat.for="position of positions" value.bind="position">
            ${position}
          </option>
        </select>
    </div>


    <div class = "col s6 offset-s3">
        <select md-select value.two-way="advancedSearch.headquarter" change.delegate="headquarterChanged({event:$event})">
          <option value="" selected>All headquarters</option>
          <option repeat.for="headquarter of headquarters" value.bind="headquarter.code">
            ${headquarter.name}
          </option>
        </select>
    </div>

    <div class = "col s6 offset-s3">
        <select md-select md-select.ref="selectLocations" value.two-way="advancedSearch.location">
          <option value="" selected>All locations</option>
          <option repeat.for="location of locations" value.bind="location">
            ${location}
          </option>
        </select>
    </div>

</template>
