<template>
  <require from="./search"></require>
  <require from="./user-detail"></require>
  <require from = "../../profile/components/update/autocomplete-skills"></require>
  <div class="home">
    <md-card>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-color--transparent mdl-shadow--4dp content mdl-color-text--white-800 mdl-cell mdl-cell--8-col">
          <div class="mdl-grid search-content">
            <search execute.call="doSearch(query)"></search>
          </div>
        </div>
      </div>

      <md-card md-title="Results" if.bind="results">
        <button if.bind="notificationAllowed" md-button md-waves click.delegate="openNotificationModal()" class="right">
          <i class="material-icons right">group</i>
          ${ 'home:buttons.publish-request' | t }
        </button>
        <p if.bind="!hasResults" translate="home:labels.no-results">
          No results were found for your search.
        </p>
        <md-collection if.bind="hasResults">
          <md-collection-item class="accent-text avatar" repeat.for="user of results">
            <user-detail user.bind="user"></user-detail>
          </md-collection-item>
        </md-collection>
        <div class="col s12 center-align" if.bind="stillMoreRows">
          <a md-button="flat: true;" click.delegate="moreResults()"
            class="primary-text" if.bind="!loading">
            Load more
          </a>
          <md-progress md-type="circular" if.bind="loading"
            md-pixel-size.bind="pixelSize" md-size.bind="size"
            md-color.bind="color"></md-progress>
        </div>
      </md-card>
    </md-card>
  </div>

  <notification-modal></notification-modal>
</template>
