<template>
  <div md-modal md-modal.ref="modal">
    <div class="modal-content">
      <ul class="collection">
        <li class="collection-header"><h4>Nomination Detail</h4></li>
        <li class="collection-item dismissable"><div><h6>Nominator</h6></div><span>${nomination.nominatorName}</span></li>
        <li class="collection-item dismissable"><div><h6>Nominee</h6></div><span>${nomination.nomineeName}</span></li>
        <li class="collection-item dismissable"><div><h6>Competence</h6></div><span>${nomination.competence}</span></li>
        <li class="collection-item dismissable"><div><h6>Description</h6></div><span>${nomination.description}</span></li>
      </ul>
      <div class="input-field" if.bind="isRejectable"></br>
        <brainy-input md-brainy-value.bind="description" md-label="Reject nomination message" md-type="textarea"
            md-brainy-pattern="^[a-z\d]+(\s[a-z\d]+)*$" md-brainy-max-length="250"
            md-required="true" md-validate-error="Please enter a valid nominate description"
            md-brainy-read-only.bind="disabledValue" >
        </brainy-input>
      </div>
    </div>
    <div class="modal-footer">
      <button if.bind="!isRejectable" disabled.bind="isLocked" md-button="flat: true;" type="button" md-waves="color: accent;"
           class="modal-action" click.trigger="acceptNomination()">Accept</button>&nbsp;

      <button if.bind="!isRejectable" md-button="flat: true;" type="button" md-waves="color: accent;"
          class="modal-action" click.trigger="openRejectDescription()">Reject</button>

      <button if.bind="isRejectable" md-button="flat: true;" type="button" md-waves="color: accent;"
          disabled.bind="disabledRejectNominationMessageSection" class="modal-action" click.trigger="rejectNomination()">Confirm Reject</button>
    </div>
  </div>
</template>
