<template>
  <require from="../custom-attributes/route-highlight"></require>
  <div class="navbar-fixed">
    <md-navbar>
      <div class="nav-wrapper container row">
        <a class="button-collapse" if.bind="!isFirstLogin"
            md-sidenav-collapse="ref.bind: sideNavLeft" style="color: white">
          <i class="material-icons">menu</i>
        </a>
        <div class="col s2">
          <a id="logo-container" route-href="route: home"
              class="brand-logo">
            <span>Brainy</span>
          </a>
        </div>
        <ul id="headquartersDropDown" class="dropdown-content">
          <li repeat.for="headquarter of headquarters">
            <a click.trigger="changeHead(headquarter)">${headquarter.name}</a>
          </li>
        </ul>
        <div class="col s3">
          <ul class="left hide-on-med-and-down">
            <li if.bind="!isFirstLogin && singleHeadquarter">
              <a>
                <i class="material-icons left">room</i>
                ${selectedHeadquarter.name}
              </a>
            </li>
            <li if.bind="!isFirstLogin && isAdmin && !singleHeadquarter">
              <a md-dropdown="activates: headquartersDropDown">
                ${selectedHeadquarter.name}<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col s7">
          <ul class="right hide-on-med-and-down">
            <li md-waves if.bind="!isFirstLogin"
                route-highlight="routes: home">
              <a route-href="route: home">Home</a>
            </li>
            <li md-waves if.bind="!isFirstLogin"
                route-highlight="routes: profileEdit">
              <a route-href="route: profileEdit">Profile</a>
            </li>
            <li md-waves if.bind="!isFirstLogin"
                route-highlight="routes: myTags">
              <a route-href="route: myTags">Tags</a>
            </li>
            <li md-waves if.bind="!isFirstLogin && isAdmin"
                route-highlight="routes: recognitionsManagement">
              <a route-href="route: recognitionsManagement">Recognitions</a>
            </li>
            <!--<li md-waves if.bind="!isFirstLogin && isAdmin"
              route-highlight="routes: configurationManagement">
              <a route-href="route: configurationManagement">Configuration</a>
            </li>-->
            <li md-waves if.bind="!isFirstLogin && notificationAllowed"
                route-highlight="routes: myNotifications">
              <a route-href="route: myNotifications">Notifications</a>
            </li>
            <li md-waves if.bind="!isFirstLogin">
              <a click.delegate="logoutAction()">
                <span translate="navigation.logout">Logout</span>
              </a>
            </li>
            <!--<li>
              <a md-dropdown="activates: authenticatedLanguageDropdown">
                <span translate="navigation.language-selection">Language</span>
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>-->
          </ul>
        </div>
        <md-sidenav view-model.ref="sideNavLeft" md-edge="left"
            md-close-on-click="true">
          <ul>
            <li md-waves if.bind="!isFirstLogin"
                route-highlight="routes: home">
              <a route-href="route: home">
                <i class="material-icons">home</i>Home
              </a>
            </li>
            <li md-waves if.bind="!isFirstLogin"
                route-highlight="routes: profileEdit">
              <a route-href="route: profileEdit">
                <i class="material-icons">perm_identity</i>Profile
              </a>
            </li>
            <li md-waves if.bind="!isFirstLogin"
                route-highlight="routes: myTags">
              <a route-href="route: myTags">
                <i class="material-icons">label_outline</i>Tags
              </a>
            </li>
            <li md-waves if.bind="!isFirstLogin && isAdmin"
                route-highlight="routes: recognitionsManagement">
              <a route-href="route: recognitionsManagement">
                <i class="material-icons">whatshot</i>Recognition
              </a>
            </li>
            <!--<li md-waves if.bind="!isFirstLogin && isAdmin"
                route-highlight="routes: configurationManagement">
              <a route-href="route: configurationManagement">
                <i class="material-icons">settings</i>Configuration
              </a>
            </li>-->
            <li md-waves if.bind="!isFirstLogin && notificationAllowed"
                route-highlight="routes: myNotifications">
              <a route-href="route: myNotifications">
                <i class="material-icons">label_outline</i>Notifications
              </a>
            </li>
            <li md-waves if.bind="!isFirstLogin">
              <a click.delegate="logoutAction()">
                <i class="material-icons">lock_outline</i>
                <span translate="navigation.logout">Logout</span>
              </a>
              </a>
            </li>
          </ul>
        </md-sidenav>
      </div>
    </md-navbar>
  </div>
  <!--<ul id="authenticatedLanguageDropdown" class="dropdown-content">
    <li><a click.trigger="change({language: 'en'})">English</a></li>
    <li><a click.trigger="change({language: 'es'})">Español</a></li>
  </ul>-->
</template>
