<template>
  <div class="autocomplete-skills">
    <brainy-input md-label="Skill Name"
        md-brainy-value.bind="skill.name | toLowercase"
        md-validate="true" md-brainy-pattern="^[a-z][\da-z]+(\s[\da-z]+)*$"
        md-brainy-max-length="35"
        md-validate-error="Please enter a valid skill name"
        ></brainy-input>
    <brainy-autocomplete-drop-down-list skills-list.bind="user.skillList" custom-select-value.bind="selectValue()"
      values.bind="values">
    </brainy-autocomplete-drop-down-list>

    <a md-tooltip="position: bottom; text: Use SHIFT + (1,2,...5) to set skill rate, use TAB to select the skill from list.">
      <i class="material-icons">info_outline</i>
    </a>

    <a href="http://regexr.com/3f5cs" target="_blank">
      <small>Examples of valid names</small>
    </a>
  </div>
</template>
