<template bindable="user, locations, headquarters, headquarterChanged, hasHeadquarter">
  <fieldset class="profile-secondary">
    <div if.bind="!hasHeadquarter">
      <label for="userHeadquarter">Your headquarter*</label>
      <select required md-select value.two-way="user.headquarter" id="userHeadquarter"
          change.delegate="headquarterChanged({event:$event})">
        <option value="" disabled selected>Choose your headquarter</option>
        <option repeat.for="headquarter of headquarters" value.bind="headquarter.code">
          ${headquarter.name}
        </option>
      </select>
    </div>
    <br>

    <label for="userLocation">Your location*</label>
    <select required md-select md-select.ref="selectLocation"
        value.two-way="user.location" id="userLocation">
      <option value="" disabled selected>Choose your location</option>
      <option repeat.for="location of locations | objectKeys" value.bind="location">
        ${location}
      </option>
    </select>
    <br>

    <brainy-input md-label="Your skype*" md-brainy-value.bind="user.skype"
        md-brainy-pattern="^([a-z]+:)?([a-z][\w.-]{5,})$"
        md-validate="true" md-brainy-max-length="37" md-required="true"
        md-validate-error="Please enter a valid skype user"></brainy-input>
    <br>

    <brainy-input md-label="Tell your strenghts/desires"
        md-brainy-value.bind="user.summary" md-type="textarea"
        md-validate="true" md-brainy-max-length="350">
    </brainy-input>
  </fieldset>
</template>
