<template>
  <require from = "./autocomplete-skills"></require>
  <require from ="./skill-rating"></require>
  <require from = "./hints-for-rating.html"></require>
  <fieldset class="profile-secondary">
    <div class="row">
      <div class="input-field col s12 m5">
          <autocomplete-skills update-rate.call="updateSkillRate(rate)" user.bind="user" skill.bind="skill"></autocomplete-skills>
      </div>
      <div class="input-field col s12 m5 center">
          <rating view-model.ref="ratingViewModel" settings.bind="{isView: false, ratingPropertyName: 'myLevel'}"
              rating.bind="skill"></rating>
          <div class="extra-info-link">
            <a md-sidenav-collapse="ref.bind: hintsForRatings;">
              How to set your rating?
            </a>
          </div>
      </div>
      <div class="input-field col s12 m2 center">
        <button disabled.bind="!skill.isValidated"
            md-button="floating: true; large: true;"
            md-waves="color: light; circle: true;" click.trigger="addSkill()">
          <i class="large material-icons">add</i>
        </button>
      </div>
    </div>

    <div>
      <label>Skills: ${user.skillList.length}/30</label>
      <skill-rating user.bind="user"
          update-property.bind="'myLevel'"
          remove.bind="removeFromSkillList">
      </skill-rating>
    </div>
  </fieldset>

  <md-sidenav view-model.ref="hintsForRatings" md-edge="right"
      md-close-on-click="false">
    <hints-for-rating ></hints-for-rating>
  </md-sidenav>
</template>
