<template bindable="badges">
  <div class="fluid-element-list">
    <div class="badge" repeat.for="badge of badges">
      <div class="badge-border" style="background-color: ${badge.color}">
        <img alt="${badge.name} badge" class="badge-core" src="${badge.imageUrl}" width="65" height="65">
      </div>
      <span>${badge.name}</span>
    </div>
  </div>
</template>
