<template bindable="settings">
  <ul>
    <li repeat.for="i of settings.rating[settings.ratingName] | numberFormat">
      <i class="amber-text text-darken-2 material-icons">star</i>
    </li>
  </ul>
</template>
