<template>
  <div md-modal="dismissible: false;"
       md-modal.ref="newNotificationModal" class="notification">
    <div class="modal-content" class="notification-content">
      <h4 translate="home:components.notification-modal.title" class="notification-title">
        Select the required skill
      </h4>
      <div class="row notification-date">
        <div class="col s6">
          <h5 class="left-align">Expiration date:</h5>
        </div>
        <div class="input-field col s6">
          <input class="small" md-datepicker="container: body" type="date" placeholder="pick end date" />
        </div>
      </div>
      <div class="row notification">
        <div class="input-field col s4">
          <brainy-input md-label="Name of the skill"
              md-brainy-value.bind="skill.name | toLowercase"
              md-brainy-pattern="^[a-z\d]+(\s[a-z\d]+)*$" md-brainy-max-length="30" md-validate="true"
              md-required="true" md-validate-error="Please enter a valid skill name"></brainy-input>
        </div>
        <div class="input-field col s4">
          <rating  settings.bind="{isView: false, ratingPropertyName: 'level'}" rating.bind="skill"></rating>
        </div>
        <div class=" col s4 center">
          <button
              md-button="floating: true; large: true;"
              md-waves="color: light; circle: true;" click.trigger="addSkill()">
            <i class="large material-icons">add</i>
          </button>
        </div>
        <!-- <autocomplete-skills filter-allowed.bind="false" skill.bind="skill">
        </autocomplete-skills> -->
      </div>
      <div class="row notification-skills">
        <div class="center">
          <table class="table">
            <thead>
              <tr>
                  <th>Skill</th>
                  <th>Level</th>
                  <th>Discard</th>
              </tr>
            </thead>

            <tbody>
              <tr repeat.for="skillNot of notification.skills">
                <td>${$skillNot.name}</td>
                <td>${skillNot.level}</td>
                <td>
                  <a class="btn-floating red" click.delegate="removeSkill(skill)">
                    <i class="material-icons">remove</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="modal-footer notification-footer">
      <a click.delegate="newNotification()" md-button="flat: true;"
          md-waves="color: accent;" class="modal-action modal-close"
          translate="app.commons.buttons.create">
        Create
      </a>
      <a md-button="flat: true;" md-waves="color: accent;"
          class="modal-action modal-close" translate="app.commons.buttons.cancel">
        Cancel
      </a>
    </div>
  </div>
</template>
