nav ul a, nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;

  h5.header {
    background: rgba(194, 157, 174, 0.35);
    padding: 1em;
  }

  .section {
    width: 100%;
  }
}

#benefits .icon-block > p {
  text-align: center;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.parallax img {
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width : 600px) {
  .parallax-container {
    color: white;
  }
}

nav a.button-collapse {
 	color:black;
 }

 .purple.lighten-1 {
  background-color: #CC0066 !important;
}

nav {
  overflow: visible;
}

nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

