.notification {
  border: 1px solid red;
  .notification-content {
    border: 1px solid black;
  }
  .notification-footer {
    border: 1px solid blue;
  }
  .notification-title {
    border: 1px solid black;
  }
  .notification-date {
    border: 1px solid red;
  }
  .notification-skills {
    border: 1px solid grey;
  }
}
